
.container{
    display: grid;
}

ul {
  list-style-type:none;  
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}
li {
    float:left;
}
li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}
li a:hover{
    background-color: #555;
    color: white;
}